#post-container {
    display: flex;
    justify-content: center;
}
#post {
    width: 50vw;
    margin-top: 25px;
}

#right {
    width: 30vw;
}

.st0{fill:#988B72;}
.st1{fill:#978875;}
.st2{fill:#998D78;}
.st3{fill:#998C76;}
.st4{fill:#766F71;}
.st5{fill:#796F65;}
.st6{fill:#736763;}
.st7{fill:#635B51;}
.st8{fill:#6C6359;}
.st9{fill:#827972;}
.st10{fill:#25241A;}
.st11{fill:#6E6768;}
.st12{fill:#655C58;}
.st13{fill:#6F6760;}
.st14{fill:#696262;}
.st15{fill:#776D69;}
.st16{fill:#746D6B;}
.st17{fill:#8E8471;}
.st18{fill:#777073;}
.st19{fill:#888079;}
.st20{fill:#817B7E;}
.st21{fill:#867F76;}
.st22{fill:#827D80;}
.st23{fill:#2A281C;}
.st24{fill:#806740;}
.st25{fill:#896F48;}
.st26{fill:#766D6F;}
.st27{fill:#6D666A;}
.st28{fill:#796E66;}
.st29{fill:#9C8F7A;}
.st30{fill:#9B8F79;}
.st31{fill:#998F80;}
.st32{fill:#988C72;}
.st33{fill:#938977;}
.st34{fill:#9D9077;}
.st35{fill:#A1957E;}
.st36{fill:#A79980;}
.st37{fill:#AEA288;}
.st38{fill:#9D9076;}
.st39{fill:#8F8374;}
.st40{fill:#A1957F;}
.st41{fill:#9F9079;}
.st42{fill:#94867C;}
.st43{fill:#A79982;}
.st44{fill:#A79B84;}
.st45{fill:#A89D86;}
.st46{fill:#A1967E;}
.st47{fill:#8E867A;}
.st48{fill:#716968;}
.st49{fill:#887E70;}
.st50{fill:#847C78;}
.st51{fill:#7B7373;}
.st52{fill:#958A6B;}
.st53{fill:#93886F;}
.st54{fill:#928676;}
.st55{fill:#857B69;}
.st56{fill:#736A5F;}
.st57{fill:#887F7A;}
.st58{fill:#8A8375;}
.st59{fill:#7B7368;}
.st60{fill:#736A61;}
.st61{fill:#847C6F;}
.st62{fill:#90847E;}
.st63{fill:#7B736B;}
.st64{fill:#78706E;}
.st65{fill:#756C68;}
.st66{fill:#817B70;}
.st67{fill:#756C65;}
.st68{fill:#7A7371;}
.st69{fill:#726C6B;}
.st70{fill:#29271C;}
.st71{fill:#887F72;}
.st72{fill:#88817C;}
.st73{fill:#7A736E;}
.st74{fill:#807A7B;}
.st75{fill:#827D82;}
.st76{fill:#7C7267;}
.st77{fill:#817873;}
.st78{fill:#8A8079;}
.st79{fill:#7E766F;}
.st80{fill:#766F73;}
.st81{fill:#7D7465;}
.st82{fill:#81776A;}
.st83{fill:#7E756D;}
.st84{fill:#8B837A;}
.st85{fill:#7D746C;}
.st86{fill:#777071;}
.st87{fill:#837B62;}
.st88{fill:#817973;}
.st89{fill:#716C6E;}
.st90{fill:#7F776B;}
.st91{fill:#736E71;}
.st92{fill:#2B2A1D;}
.st93{fill:#867D73;}
.st94{fill:#8E8476;}
.st95{fill:#7F7764;}
.st96{fill:#8C8271;}
.st97{fill:#8B8385;}
.st98{fill:#837B7C;}
.st99{fill:#7D746A;}
.st100{fill:#8C8272;}
.st101{fill:#7C7467;}
.st102{fill:#928772;}
.st103{fill:#968C79;}
.st104{fill:#867D72;}
.st105{fill:#928878;}
.st106{fill:#756C6B;}
.st107{fill:#7A7374;}
.st108{fill:#746D6C;}
.st109{fill:#706B6B;}
.st110{fill:#ADA08E;}
.st111{fill:#8C7047;}
.st112{fill:#7F7779;}
.st113{fill:#7C7576;}
.st114{fill:#777174;}
.st115{fill:#817871;}
.st116{fill:#7E7470;}
.st117{fill:#7A7475;}
.st118{fill:#837A6F;}
.st119{fill:#7E7878;}
.st120{fill:#7B7266;}
.st121{fill:#7F776E;}
.st122{fill:#AA9E84;}
.st123{fill:#A59983;}
.st124{fill:#958877;}
.st125{fill:#A0967F;}
.st126{fill:#A09481;}
.st127{fill:#8F8470;}
.st128{fill:#938676;}
.st129{fill:#8F8671;}
.st130{fill:#A89C87;}
.st131{fill:#AB9E84;}
.st132{fill:#ADA088;}
.st133{fill:#AA9E85;}
.st134{fill:#A99C87;}
.st135{fill:#A39981;}
.st136{fill:#A39884;}
.st137{fill:#A19689;}
.st138{fill:#A89D7F;}
.st139{fill:#9E917B;}
.st140{fill:#A89D8A;}
.st141{fill:#9F947F;}
.st142{fill:#A39682;}
.st143{fill:#978E7E;}
.st144{fill:#A4987F;}
.st145{fill:#968A78;}
.st146{fill:#958A74;}
.st147{fill:#A09484;}
.st148{fill:#A99E8C;}
.st149{fill:#A69B86;}
.st150{fill:#B2A58C;}
.st151{fill:#877A6C;}
.st152{fill:#695E51;}
.st153{fill:#9B8F86;}
.st154{fill:#857B6A;}
.st155{fill:#837B74;}
.st156{fill:#7F6D62;}
.st157{fill:#302D1A;}
.st158{fill:#8F847D;}
.st159{fill:#81786C;}
.st160{fill:#878078;}
.st161{fill:#797374;}
.st162{fill:#817976;}
.st163{fill:#827B77;}
.st164{fill:#7E7464;}
.st165{fill:#897E64;}
.st166{fill:#8C8370;}
.st167{fill:#81786D;}
.st168{fill:#82796E;}
.st169{fill:#877E69;}
.st170{fill:#948977;}
.st171{fill:#8D8573;}
.st172{fill:#8A8274;}
.st173{fill:#827974;}
.st174{fill:#7A726A;}
.st175{fill:#857D73;}
.st176{fill:#8A8076;}
.st177{fill:#877E73;}
.st178{fill:#7F7872;}
.st179{fill:#7C726D;}
.st180{fill:#857C76;}
.st181{fill:#756E70;}
.st182{fill:#736C69;}
.st183{fill:#7B726F;}
.st184{fill:#867E6F;}
.st185{fill:#877F6E;}
.st186{fill:#8D8379;}
.st187{fill:#857E79;}
.st188{fill:#88807B;}
.st189{fill:#847D79;}
.st190{fill:#878077;}
.st191{fill:#857973;}
.st192{fill:#827C7F;}
.st193{fill:#827B7B;}
.st194{fill:#887F74;}
.st195{fill:#847C7A;}
.st196{fill:#847C71;}
.st197{fill:#867C74;}
.st198{fill:#847D6D;}
.st199{fill:#79716D;}
.st200{fill:#8F8681;}
.st201{fill:#92877A;}
.st202{fill:#8D847F;}
.st203{fill:#8E857C;}
.st204{fill:#8B847A;}
.st205{fill:#90867F;}
.st206{fill:#8E8681;}
.st207{fill:#8D8482;}
.st208{fill:#867B6C;}
.st209{fill:#8B8180;}
.st210{fill:#8D8373;}
.st211{fill:#8D8378;}
.st212{fill:#938A85;}
.st213{fill:#8B847F;}
.st214{fill:#8D847C;}
.st215{fill:#857A6A;}
.st216{fill:#847A73;}
.st217{fill:#8A7F71;}
.st218{fill:#817A77;}
.st219{fill:#756F6D;}
.st220{fill:#817A79;}
.st221{fill:#867C6D;}
.st222{fill:#888076;}
.st223{fill:#79716E;}
.st224{fill:#8A817E;}
.st225{fill:#7E756F;}
.st226{fill:#837C7B;}
.st227{fill:#867D79;}
.st228{fill:#807765;}
.st229{fill:#807668;}
.st230{fill:#827A77;}
.st231{fill:#847C7E;}
.st232{fill:#76706C;}
.st233{fill:#7E7A7E;}
.st234{fill:#7F786D;}
.st235{fill:#7E787B;}
.st236{fill:#787274;}
.st237{fill:#766D68;}
.st238{fill:#8B8278;}
.st239{fill:#8A8175;}
.st240{fill:#887E75;}
.st241{fill:#877F76;}
.st242{fill:#898173;}
.st243{fill:#867E72;}
.st244{fill:#837A70;}
.st245{fill:#9C917E;}
.st246{fill:#958C7B;}
.st247{fill:#958B81;}
.st248{fill:#998E7F;}
.st249{fill:#8B827D;}
.st250{fill:#807773;}
.st251{fill:#8D8475;}
.st252{fill:#8C8277;}
.st253{fill:#867C77;}
.st254{fill:#7B726B;}
.st255{fill:#9E937F;}
.st256{fill:#AB9F88;}
.st257{fill:#756D6E;}
.st258{fill:#7E7676;}
.st259{fill:#7E7775;}
.st260{fill:#7F7773;}
.st261{fill:#7E7672;}
.st262{fill:#867D78;}
.st263{fill:#807667;}
.st264{fill:#787172;}
.st265{fill:#7E7467;}
.st266{fill:#7E7778;}
.st267{fill:#847B78;}
.st268{fill:#7D7265;}
.st269{fill:#847B6E;}
.st270{fill:#B2A58F;}
.st271{fill:#ABA194;}
.st272{fill:#9F907C;}
.st273{fill:#8F877C;}
.st274{fill:#847C7B;}
.st275{fill:#847A75;}
.st276{fill:#8B837D;}
.st277{fill:#8C837F;}
.st278{fill:#8F887C;}
.st279{fill:#776E69;}
.st280{fill:#857D77;}
.st281{fill:#867F75;}
.st282{fill:#877F7A;}
.st283{fill:#877E7A;}
.st284{fill:#8A817D;}
.st285{fill:#8F847A;}
.st286{fill:#7F7970;}
.st287{fill:#867E73;}
.st288{fill:#797270;}
.st289{fill:#A89B87;}
.st290{fill:#9B8F7D;}
.st291{fill:#9C9378;}
.st292{fill:#9F917E;}
.st293{fill:#A09281;}
.st294{fill:#8C7E6D;}
.st295{fill:#978C7F;}
.st296{fill:#A59785;}
.st297{fill:#A39689;}
.st298{fill:#9D9185;}
.st299{fill:#A6998B;}
.st300{fill:#ADA08A;}
.st301{fill:#9A8D7B;}
.st302{fill:#978E7D;}
.st303{fill:#ABA08E;}
.st304{fill:#A89C8C;}
.st305{fill:#A29582;}
.st306{fill:#B0A48D;}
.st307{fill:#B0A38C;}
.st308{fill:#A99E8E;}
.st309{fill:#B3A78F;}
.st310{fill:#9F9281;}
.st311{fill:#9C9078;}
.st312{fill:#9E9382;}
.st313{fill:#9F937F;}
.st314{fill:#A49787;}
.st315{fill:#908476;}
.st316{fill:#958A79;}
.st317{fill:#A3968B;}
.st318{fill:#9D8F86;}
.st319{fill:#A39785;}
.st320{fill:#786B5C;}
.st321{fill:#6E6455;}
.st322{fill:#958978;}
.st323{fill:#B0A79E;}
.st324{fill:#807467;}
.st325{fill:#7D7261;}
.st326{fill:#857B6B;}
.st327{fill:#9A8D7F;}
.st328{fill:#87796C;}
.st329{fill:#9398BC;}
.st330{fill:#726863;}
.st331{fill:#685966;}
.st332{fill:#886D43;}
.st333{fill:#948B82;}
.st334{fill:#938A84;}
.st335{fill:#938A81;}
.st336{fill:#918782;}
.st337{fill:#928B81;}
.st338{fill:#8F857B;}
.st339{fill:#8B827B;}
.st340{fill:#978E88;}
.st341{fill:#98908B;}
.st342{fill:#968E84;}
.st343{fill:#9B938C;}
.st344{fill:#948974;}
.st345{fill:#897F7A;}
.st346{fill:#8E8581;}
.st347{fill:#8B7E7B;}
.st348{fill:#8E857B;}
.st349{fill:#726A6A;}
.st350{fill:#78706D;}
.st351{fill:#887E71;}
.st352{fill:#7E756A;}
.st353{fill:#736B61;}
.st354{fill:#968A6D;}
.st355{fill:#938973;}
.st356{fill:#908675;}
.st357{fill:#8C8376;}
.st358{fill:#93896E;}
.st359{fill:#938975;}
.st360{fill:#948970;}
.st361{fill:#958A71;}
.st362{fill:#887C62;}
.st363{fill:#867D77;}
.st364{fill:#8F8679;}
.st365{fill:#898375;}
.st366{fill:#867E7A;}
.st367{fill:#8C837E;}
.st368{fill:#918871;}
.st369{fill:#847960;}
.st370{fill:#918778;}
.st371{fill:#857C77;}
.st372{fill:#887F75;}
.st373{fill:#867F7C;}
.st374{fill:#8D8372;}
.st375{fill:#8F857F;}
.st376{fill:#898177;}
.st377{fill:#7C7468;}
.st378{fill:#887E7C;}
.st379{fill:#888075;}
.st380{fill:#817974;}
.st381{fill:#877E77;}
.st382{fill:#8A8173;}
.st383{fill:#8C8275;}
.st384{fill:#837C77;}
.st385{fill:#8C8178;}
.st386{fill:#7F7568;}
.st387{fill:#807B7C;}
.st388{fill:#8A8174;}
.st389{fill:#7E7469;}
.st390{fill:#888074;}
.st391{fill:#807769;}
.st392{fill:#968A77;}
.st393{fill:#918678;}
.st394{fill:#958A7C;}
.st395{fill:#90867C;}
.st396{fill:#817770;}
.st397{fill:#9B9383;}
.st398{fill:#988F80;}
.st399{fill:#8C8377;}
.st400{fill:#908679;}
.st401{fill:#938885;}
.st402{fill:#948B7D;}
.st403{fill:#968B7A;}
.st404{fill:#81797A;}
.st405{fill:#7F766B;}
.st406{fill:#8A8070;}
.st407{fill:#8C837C;}
.st408{fill:#928774;}
.st409{fill:#897E6C;}
.st410{fill:#7B756E;}
.st411{fill:#817977;}
.st412{fill:#898077;}
.st413{fill:#887E7A;}
.st414{fill:#8E857A;}
.st415{fill:#8A817C;}
.st416{fill:#8D827C;}
.st417{fill:#857B74;}
.st418{fill:#9D9182;}
.st419{fill:#8F8471;}
.st420{fill:#91877A;}
.st421{fill:#998F85;}
.st422{fill:#93897A;}
.st423{fill:#92887E;}
.st424{fill:#9D9285;}
.st425{fill:#978D7E;}
.st426{fill:#A2988B;}
.st427{fill:#887E7B;}
.st428{fill:#847B6D;}
.st429{fill:#8B8076;}
.st430{fill:#83796C;}
.st431{fill:#A09485;}
.st432{fill:#A99C83;}
.st433{fill:#A4987B;}
.st434{fill:#887E79;}
.st435{fill:#8B817B;}
.st436{fill:#80756B;}
.st437{fill:#8B8378;}
.st438{fill:#746C67;}
.st439{fill:#80766A;}
.st440{fill:#8B8172;}
.st441{fill:#8B8171;}
.st442{fill:#8B8074;}
.st443{fill:#7D7471;}
.st444{fill:#7B7170;}
.st445{fill:#8B8279;}
.st446{fill:#8E8575;}
.st447{fill:#7A706D;}
.st448{fill:#888077;}
.st449{fill:#78706C;}
.st450{fill:#877E79;}
.st451{fill:#B1A492;}
.st452{fill:#ACA292;}
.st453{fill:#948883;}
.st454{fill:#8D8579;}
.st455{fill:#878074;}
.st456{fill:#847B75;}
.st457{fill:#837B72;}
.st458{fill:#847B74;}
.st459{fill:#82786B;}
.st460{fill:#847C73;}
.st461{fill:#80796F;}
.st462{fill:#89817D;}
.st463{fill:#93887E;}
.st464{fill:#88837C;}
.st465{fill:#857D7A;}
.st466{fill:#786F69;}
.st467{fill:#988A7B;}
.st468{fill:#918579;}
.st469{fill:#A59A8C;}
.st470{fill:#A1968A;}
.st471{fill:#998D80;}
.st472{fill:#ACA18F;}
.st473{fill:#A29683;}
.st474{fill:#A39887;}
.st475{fill:#A69B8C;}
.st476{fill:#A49884;}
.st477{fill:#B1A692;}
.st478{fill:#B2A794;}
.st479{fill:#AFA38E;}
.st480{fill:#AFA492;}
.st481{fill:#A0927E;}
.st482{fill:#AB9E89;}
.st483{fill:#AEA492;}
.st484{fill:#B3A78E;}
.st485{fill:#B4A88A;}
.st486{fill:#ADA292;}
.st487{fill:#A09383;}
.st488{fill:#ACA08F;}
.st489{fill:#AA9E88;}
.st490{fill:#8A7D6D;}
.st491{fill:#A69989;}
.st492{fill:#A79B85;}
.st493{fill:#9F9583;}
.st494{fill:#A59784;}
.st495{fill:#ACA08C;}
.st496{fill:#A9A38C;}
.st497{fill:#9A8F7D;}
.st498{fill:#9F918D;}
.st499{fill:#968A79;}
.st500{fill:#C5BDA7;}
.st501{fill:#BAD0EC;}
.st502{fill:#866A43;}
.st503{fill:#9B917F;}
.st504{fill:#90846F;}
.st505{fill:#938B87;}
.st506{fill:#9B9188;}
.st507{fill:#9C9383;}
.st508{fill:#9B907E;}
.st509{fill:#9C938C;}
.st510{fill:#9C948B;}
.st511{fill:#9C9384;}
.st512{fill:#9A9085;}
.st513{fill:#9F9588;}
.st514{fill:#A0968E;}
.st515{fill:#A0978A;}
.st516{fill:#A29783;}
.st517{fill:#A49A8B;}
.st518{fill:#9F9585;}
.st519{fill:#A4987C;}
.st520{fill:#A59A88;}
.st521{fill:#A59887;}
.st522{fill:#958B7B;}
.st523{fill:#A09582;}
.st524{fill:#A09586;}
.st525{fill:#8F8477;}
.st526{fill:#7D746B;}
.st527{fill:#7B7474;}
.st528{fill:#7D7365;}
.st529{fill:#7F7671;}
.st530{fill:#776F69;}
.st531{fill:#938770;}
.st532{fill:#877B61;}
.st533{fill:#8A7F69;}
.st534{fill:#8D8271;}
.st535{fill:#918773;}
.st536{fill:#88807D;}
.st537{fill:#7B726E;}
.st538{fill:#857C74;}
.st539{fill:#93886C;}
.st540{fill:#897D68;}
.st541{fill:#8C8168;}
.st542{fill:#8A806C;}
.st543{fill:#90866E;}
.st544{fill:#7C7257;}
.st545{fill:#877E70;}
.st546{fill:#827866;}
.st547{fill:#918776;}
.st548{fill:#92886F;}
.st549{fill:#888071;}
.st550{fill:#8B8070;}
.st551{fill:#877E6B;}
.st552{fill:#7C7360;}
.st553{fill:#847E7A;}
.st554{fill:#807768;}
.st555{fill:#877D7A;}
.st556{fill:#7A716D;}
.st557{fill:#787170;}
.st558{fill:#8A8170;}
.st559{fill:#807565;}
.st560{fill:#8C8170;}
.st561{fill:#867E76;}
.st562{fill:#7F7662;}
.st563{fill:#968C73;}
.st564{fill:#938A78;}
.st565{fill:#867B6D;}
.st566{fill:#948772;}
.st567{fill:#93876B;}
.st568{fill:#8D857E;}
.st569{fill:#83796D;}
.st570{fill:#8E8379;}
.st571{fill:#938871;}
.st572{fill:#877B65;}
.st573{fill:#93897F;}
.st574{fill:#968C85;}
.st575{fill:#847B6F;}
.st576{fill:#90867D;}
.st577{fill:#93897B;}
.st578{fill:#887E6C;}
.st579{fill:#958D76;}
.st580{fill:#7F7875;}
.st581{fill:#766C61;}
.st582{fill:#92876F;}
.st583{fill:#90856B;}
.st584{fill:#817766;}
.st585{fill:#847A60;}
.st586{fill:#90877B;}
.st587{fill:#8E8776;}
.st588{fill:#877E75;}
.st589{fill:#8D847D;}
.st590{fill:#948A80;}
.st591{fill:#978A7D;}
.st592{fill:#8F8580;}
.st593{fill:#A09688;}
.st594{fill:#92887B;}
.st595{fill:#91847F;}
.st596{fill:#92877D;}
.st597{fill:#847973;}
.st598{fill:#A99D8C;}
.st599{fill:#A39889;}
.st600{fill:#AEA488;}
.st601{fill:#ACA18E;}
.st602{fill:#8C8374;}
.st603{fill:#837B7A;}
.st604{fill:#817B77;}
.st605{fill:#897F6B;}
.st606{fill:#807772;}
.st607{fill:#857D7B;}
.st608{fill:#887F7C;}
.st609{fill:#8B807B;}
.st610{fill:#80776D;}
.st611{fill:#847C79;}
.st612{fill:#877F77;}
.st613{fill:#7D746D;}
.st614{fill:#897F7B;}
.st615{fill:#867E79;}
.st616{fill:#7C736C;}
.st617{fill:#B3A68D;}
.st618{fill:#B0A58C;}
.st619{fill:#AEA38E;}
.st620{fill:#AC9D82;}
.st621{fill:#B4A690;}
.st622{fill:#AEA291;}
.st623{fill:#9C938E;}
.st624{fill:#A79984;}
.st625{fill:#AFA189;}
.st626{fill:#92754B;}
.st627{fill:#837A72;}
.st628{fill:#766F65;}
.st629{fill:#837971;}
.st630{fill:#8B8178;}
.st631{fill:#8C8476;}
.st632{fill:#827A73;}
.st633{fill:#8D8064;}
.st634{fill:#8F867B;}
.st635{fill:#887E72;}
.st636{fill:#91877C;}
.st637{fill:#8D8478;}
.st638{fill:#908674;}
.st639{fill:#908578;}
.st640{fill:#84775B;}
.st641{fill:#8F8472;}
.st642{fill:#8F846B;}
.st643{fill:#827A6F;}
.st644{fill:#9A8E7D;}
.st645{fill:#A79983;}
.st646{fill:#ABA08F;}
.st647{fill:#A99D89;}
.st648{fill:#A19481;}
.st649{fill:#9E9074;}
.st650{fill:#ADA18D;}
.st651{fill:#A0927C;}
.st652{fill:#B1A593;}
.st653{fill:#B5A994;}
.st654{fill:#AA9D89;}
.st655{fill:#B2A796;}
.st656{fill:#A39782;}
.st657{fill:#B2A48B;}
.st658{fill:#A7997E;}
.st659{fill:#A7987F;}
.st660{fill:#AEA28D;}
.st661{fill:#B1A694;}
.st662{fill:#AAA08F;}
.st663{fill:#A79B8F;}
.st664{fill:#A49886;}
.st665{fill:#B5AA95;}
.st666{fill:#A29890;}
.st667{fill:#A79C8F;}
.st668{fill:#AB9E8B;}
.st669{fill:#ABA188;}
.st670{fill:#B4A78A;}
.st671{fill:#B4A684;}
.st672{fill:#A79976;}
.st673{fill:#5A4D2F;}
.st674{fill:#92784C;}
.st675{fill:#9E9696;}
.st676{fill:#B2A491;}
.st677{fill:#A49A96;}
.st678{fill:#AD9F8D;}
.st679{fill:#A59B8A;}
.st680{fill:#9B8F7F;}
.st681{fill:#9F937D;}
.st682{fill:#A0957F;}
.st683{fill:#978B78;}
.st684{fill:#9D9388;}
.st685{fill:#998D81;}
.st686{fill:#A19888;}
.st687{fill:#968C7A;}
.st688{fill:#978E85;}
.st689{fill:#988F76;}
.st690{fill:#9F9481;}
.st691{fill:#9A9282;}
.st692{fill:#8F8573;}
.st693{fill:#A39984;}
.st694{fill:#A19780;}
.st695{fill:#A39A94;}
.st696{fill:#A69C93;}
.st697{fill:#A29885;}
.st698{fill:#958A82;}
.st699{fill:#A49C8C;}
.st700{fill:#A79B83;}
.st701{fill:#9E958D;}
.st702{fill:#A3977F;}
.st703{fill:#A29887;}
.st704{fill:#A2978A;}
.st705{fill:#9E9483;}
.st706{fill:#9C9186;}
.st707{fill:#A09587;}
.st708{fill:#9F9480;}
.st709{fill:#9F9386;}
.st710{fill:#9E937A;}
.st711{fill:#96886F;}
.st712{fill:#837B77;}
.st713{fill:#877D73;}
.st714{fill:#847E7D;}
.st715{fill:#897E69;}
.st716{fill:#7C7261;}
.st717{fill:#90856D;}
.st718{fill:#847B6A;}
.st719{fill:#847965;}
.st720{fill:#8A8064;}
.st721{fill:#89817E;}
.st722{fill:#7E735F;}
.st723{fill:#857C78;}
.st724{fill:#89817C;}
.st725{fill:#887C6B;}
.st726{fill:#7D7361;}
.st727{fill:#8D836D;}
.st728{fill:#8D8272;}
.st729{fill:#7E7569;}
.st730{fill:#88816D;}
.st731{fill:#91886F;}
.st732{fill:#8D8275;}
.st733{fill:#857C72;}
.st734{fill:#897F74;}
.st735{fill:#847D7D;}
.st736{fill:#7C7472;}
.st737{fill:#8E8578;}
.st738{fill:#81765E;}
.st739{fill:#8A806D;}
.st740{fill:#8B816B;}
.st741{fill:#8D8370;}
.st742{fill:#897F73;}
.st743{fill:#7B7370;}
.st744{fill:#8B8173;}
.st745{fill:#7A716E;}
.st746{fill:#96897B;}
.st747{fill:#7F7670;}
.st748{fill:#8E8579;}
.st749{fill:#928778;}
.st750{fill:#857A6E;}
.st751{fill:#938875;}
.st752{fill:#887F66;}
.st753{fill:#8F8575;}
.st754{fill:#91877F;}
.st755{fill:#938A77;}
.st756{fill:#968B76;}
.st757{fill:#8E8472;}
.st758{fill:#868079;}
.st759{fill:#7E766E;}
.st760{fill:#948A82;}
.st761{fill:#807875;}
.st762{fill:#958B82;}
.st763{fill:#998F82;}
.st764{fill:#8A837E;}
.st765{fill:#928A81;}
.st766{fill:#958A7D;}
.st767{fill:#7C7470;}
.st768{fill:#8F8682;}
.st769{fill:#9C9182;}
.st770{fill:#A79C8C;}
.st771{fill:#8F867A;}
.st772{fill:#A0978D;}
.st773{fill:#7B746C;}
.st774{fill:#A39A8B;}
.st775{fill:#81786E;}
.st776{fill:#8C8378;}
.st777{fill:#8F8578;}
.st778{fill:#8D847E;}
.st779{fill:#90857B;}
.st780{fill:#867D75;}
.st781{fill:#8A8277;}
.st782{fill:#8A7F79;}
.st783{fill:#857B73;}
.st784{fill:#938A7D;}
.st785{fill:#89807B;}
.st786{fill:#877E72;}
.st787{fill:#888078;}
.st788{fill:#B3A795;}
.st789{fill:#AFA285;}
.st790{fill:#B0A591;}
.st791{fill:#AFA482;}
.st792{fill:#AFA597;}
.st793{fill:#B2A68F;}
.st794{fill:#A89D92;}
.st795{fill:#AD9C7F;}
.st796{fill:#AD9C85;}
.st797{fill:#B5A789;}
.st798{fill:#B1A38E;}
.st799{fill:#B0A28D;}
.st800{fill:#988E8D;}
.st801{fill:#A69B91;}
.st802{fill:#968C87;}
.st803{fill:#A49991;}
.st804{fill:#B8AB8E;}
.st805{fill:#ABA092;}
.st806{fill:#7C746D;}
.st807{fill:#928A7D;}
.st808{fill:#8C8481;}
.st809{fill:#91887D;}
.st810{fill:#8B8080;}
.st811{fill:#8F8570;}
.st812{fill:#847863;}
.st813{fill:#8A806E;}
.st814{fill:#83795D;}
.st815{fill:#7D7164;}
.st816{fill:#908884;}
.st817{fill:#8B837E;}
.st818{fill:#867C79;}
.st819{fill:#8F867F;}
.st820{fill:#84786A;}
.st821{fill:#8D8164;}
.st822{fill:#8B7E64;}
.st823{fill:#A99B88;}
.st824{fill:#A1927A;}
.st825{fill:#9B8F7A;}
.st826{fill:#9A8C75;}
.st827{fill:#A0937C;}
.st828{fill:#A5967F;}
.st829{fill:#9D8E6F;}
.st830{fill:#958466;}
.st831{fill:#B3A587;}
.st832{fill:#A99C85;}
.st833{fill:#B2A895;}
.st834{fill:#B1A891;}
.st835{fill:#B2A891;}
.st836{fill:#B2A68D;}
.st837{fill:#B0A593;}
.st838{fill:#B3A796;}
.st839{fill:#B3A588;}
.st840{fill:#AEA18F;}
.st841{fill:#978C7B;}
.st842{fill:#9F9383;}
.st843{fill:#A89C8F;}
.st844{fill:#B3A58C;}
.st845{fill:#9D9081;}
.st846{fill:#B2A688;}
.st847{fill:#AEA18A;}
.st848{fill:#B3A894;}
.st849{fill:#A29786;}
.st850{fill:#B0A594;}
.st851{fill:#B3A996;}
.st852{fill:#B0A491;}
.st853{fill:#AB9B85;}
.st854{fill:#9D9080;}
.st855{fill:#A4978A;}
.st856{fill:#A09381;}
.st857{fill:#A89E8E;}
.st858{fill:#A99F96;}
.st859{fill:#4E472A;}
.st860{fill:#B4A786;}
.st861{fill:#AEA495;}
.st862{fill:#A29A96;}
.st863{fill:#9A9091;}
.st864{fill:#9D928B;}
.st865{fill:#8C3353;}
.st866{fill:#AC9F92;}
.st867{fill:#A79A92;}
.st868{fill:#8B2C48;}
.st869{fill:#A79C8D;}
.st870{fill:#A49986;}
.st871{fill:#A89B8F;}
.st872{fill:#B2A581;}
.st873{fill:#A69775;}
.st874{fill:#B4A785;}
.st875{fill:#A69A8E;}
.st876{fill:#A89D8D;}
.st877{fill:#A79D8F;}
.st878{fill:#A99F8B;}
.st879{fill:#ABA082;}
.st880{fill:#AC9F86;}
.st881{fill:#A99E89;}
.st882{fill:#A49A91;}
.st883{fill:#938886;}
.st884{fill:#9A8F81;}
.st885{fill:#A4997B;}
.st886{fill:#9E9475;}
.st887{fill:#A39A95;}
.st888{fill:#8F8783;}
.st889{fill:#A99D8B;}
.st890{fill:#AA9F86;}
.st891{fill:#A09583;}
.st892{fill:#998D7F;}
.st893{fill:#9E947D;}
.st894{fill:#8B806A;}
.st895{fill:#9C9180;}
.st896{fill:#9C9281;}
.st897{fill:#A19681;}
.st898{fill:#999080;}
.st899{fill:#9B9081;}
.st900{fill:#9D9483;}
.st901{fill:#A99F90;}
.st902{fill:#968B87;}
.st903{fill:#A39993;}
.st904{fill:#988E86;}
.st905{fill:#A69D94;}
.st906{fill:#A0978F;}
.st907{fill:#98908C;}
.st908{fill:#9C928C;}
.st909{fill:#9D9588;}
.st910{fill:#A19886;}
.st911{fill:#A89E90;}
.st912{fill:#A59C8F;}
.st913{fill:#9A9087;}
.st914{fill:#9B9082;}
.st915{fill:#A09786;}
.st916{fill:#9B9186;}
.st917{fill:#867C6B;}
.st918{fill:#857D70;}
.st919{fill:#897F6C;}
.st920{fill:#898067;}
.st921{fill:#7E7459;}
.st922{fill:#8B8065;}
.st923{fill:#81755E;}
.st924{fill:#7C726F;}
.st925{fill:#877F7F;}
.st926{fill:#8A8275;}
.st927{fill:#80786E;}
.st928{fill:#857D6A;}
.st929{fill:#8B8164;}
.st930{fill:#857D79;}
.st931{fill:#867D76;}
.st932{fill:#7C746B;}
.st933{fill:#918883;}
.st934{fill:#958B7A;}
.st935{fill:#93887B;}
.st936{fill:#958B7E;}
.st937{fill:#968B82;}
.st938{fill:#8B8167;}
.st939{fill:#8D837D;}
.st940{fill:#92887A;}
.st941{fill:#7D7368;}
.st942{fill:#92897E;}
.st943{fill:#8B8276;}
.st944{fill:#918882;}
.st945{fill:#857A69;}
.st946{fill:#8D837E;}
.st947{fill:#80766D;}
.st948{fill:#928885;}
.st949{fill:#958C86;}
.st950{fill:#968D7F;}
.st951{fill:#867E77;}
.st952{fill:#877E78;}
.st953{fill:#8F8688;}
.st954{fill:#8D8582;}
.st955{fill:#8F877F;}
.st956{fill:#89817F;}
.st957{fill:#918680;}
.st958{fill:#A0988B;}
.st959{fill:#998F84;}
.st960{fill:#9B9287;}
.st961{fill:#9A8E79;}
.st962{fill:#988E88;}
.st963{fill:#8D867E;}
.st964{fill:#857B6E;}
.st965{fill:#8D857B;}
.st966{fill:#8F867C;}
.st967{fill:#7C7471;}
.st968{fill:#938A80;}
.st969{fill:#928A7C;}
.st970{fill:#91887E;}
.st971{fill:#958A80;}
.st972{fill:#8C8385;}
.st973{fill:#948A85;}
.st974{fill:#918885;}
.st975{fill:#857C71;}
.st976{fill:#8F8683;}
.st977{fill:#8E877F;}
.st978{fill:#7F7876;}
.st979{fill:#B7AA98;}
.st980{fill:#AEA38D;}
.st981{fill:#B5A891;}
.st982{fill:#B3A792;}
.st983{fill:#B2A48C;}
.st984{fill:#B5A890;}
.st985{fill:#B5A88D;}
.st986{fill:#A99C82;}
.st987{fill:#A79C95;}
.st988{fill:#ACA193;}
.st989{fill:#AC9E8B;}
.st990{fill:#A1938C;}
.st991{fill:#B1A48F;}
.st992{fill:#822146;}
.st993{fill:#9D938C;}
.st994{fill:#A09790;}
.st995{fill:#9F9280;}
.st996{fill:#887F73;}
.st997{fill:#908572;}
.st998{fill:#8C806A;}
.st999{fill:#8C8167;}
.st1000{fill:#8F856D;}
.st1001{fill:#8A8171;}
.st1002{fill:#8D8276;}
.st1003{fill:#8A806B;}
.st1004{fill:#91887C;}
.st1005{fill:#8E8580;}
.st1006{fill:#918566;}
.st1007{fill:#84785C;}
.st1008{fill:#918677;}
.st1009{fill:#8F8770;}
.st1010{fill:#AEA189;}
.st1011{fill:#AB9F8B;}
.st1012{fill:#A89C8B;}
.st1013{fill:#A79C88;}
.st1014{fill:#A59985;}
.st1015{fill:#9C8E76;}
.st1016{fill:#A8987D;}
.st1017{fill:#B1A489;}
.st1018{fill:#AA9E8C;}
.st1019{fill:#B6A990;}
.st1020{fill:#A8997F;}
.st1021{fill:#B8AD94;}
.st1022{fill:#A99C90;}
.st1023{fill:#A69A8C;}
.st1024{fill:#9B8E80;}
.st1025{fill:#A29584;}
.st1026{fill:#A1947D;}
.st1027{fill:#A99E90;}
.st1028{fill:#988D7E;}
.st1029{fill:#A49A8E;}
.st1030{fill:#AEA38B;}
.st1031{fill:#B2A899;}
.st1032{fill:#B5AA92;}
.st1033{fill:#A49987;}
.st1034{fill:#B0A697;}
.st1035{fill:#B8AC95;}
.st1036{fill:#B6AB92;}
.st1037{fill:#B4A68F;}
.st1038{fill:#A99B8F;}
.st1039{fill:#A89A7E;}
.st1040{fill:#9A8C81;}
.st1041{fill:#AEA37E;}
.st1042{fill:#A59385;}
.st1043{fill:#861A39;}
.st1044{fill:#81193C;}
.st1045{fill:#8E2B44;}
.st1046{fill:#A28E79;}
.st1047{fill:#A19893;}
.st1048{fill:#B6A98A;}
.st1049{fill:#A39784;}
.st1050{fill:#928171;}
.st1051{fill:#8E7F67;}
.st1052{fill:#8F7C68;}
.st1053{fill:#928475;}
.st1054{fill:#92825E;}
.st1055{fill:#B3A990;}
.st1056{fill:#A19176;}
.st1057{fill:#9C9495;}
.st1058{fill:#908788;}
.st1059{fill:#A19892;}
.st1060{fill:#9A9494;}
.st1061{fill:#A49892;}
.st1062{fill:#978B82;}
.st1063{fill:#B2A791;}
.st1064{fill:#AB9F91;}
.st1065{fill:#A69C91;}
.st1066{fill:#9F968B;}
.st1067{fill:#999085;}
.st1068{fill:#9C938B;}
.st1069{fill:#97908A;}
.st1070{fill:#9D9384;}
.st1071{fill:#A2988F;}
.st1072{fill:#9D9181;}
.st1073{fill:#A49A94;}
.st1074{fill:#A69C8F;}
.st1075{fill:#A5977E;}
.st1076{fill:#B2A58D;}
.st1077{fill:#AD9F84;}
.st1078{fill:#9E928E;}
.st1079{fill:#9F958B;}
.st1080{fill:#A49A8D;}
.st1081{fill:#9F948F;}
.st1082{fill:#8E837F;}
.st1083{fill:#9E927A;}
.st1084{fill:#9F9587;}
.st1085{fill:#9A9281;}
.st1086{fill:#A69C94;}
.st1087{fill:#9A9081;}
.st1088{fill:#A19788;}
.st1089{fill:#8C8166;}
.st1090{fill:#8E846C;}
.st1091{fill:#83785F;}
.st1092{fill:#8A7E60;}
.st1093{fill:#8B7F69;}
.st1094{fill:#8E826B;}
.st1095{fill:#898075;}
.st1096{fill:#908779;}
.st1097{fill:#978D77;}
.st1098{fill:#989083;}
.st1099{fill:#948C84;}
.st1100{fill:#928A74;}
.st1101{fill:#877C70;}
.st1102{fill:#8E8582;}
.st1103{fill:#8F8678;}
.st1104{fill:#908773;}
.st1105{fill:#8B8280;}
.st1106{fill:#867C70;}
.st1107{fill:#8B847C;}
.st1108{fill:#8F8368;}
.st1109{fill:#8D826F;}
.st1110{fill:#958B6E;}
.st1111{fill:#89827E;}
.st1112{fill:#938972;}
.st1113{fill:#948C87;}
.st1114{fill:#978D7A;}
.st1115{fill:#958B88;}
.st1116{fill:#99908A;}
.st1117{fill:#847A77;}
.st1118{fill:#908566;}
.st1119{fill:#92856A;}
.st1120{fill:#998F86;}
.st1121{fill:#9A9184;}
.st1122{fill:#998F87;}
.st1123{fill:#968C84;}
.st1124{fill:#958C81;}
.st1125{fill:#928779;}
.st1126{fill:#857E7C;}
.st1127{fill:#928A7F;}
.st1128{fill:#99917F;}
.st1129{fill:#978E81;}
.st1130{fill:#918884;}
.st1131{fill:#958D80;}
.st1132{fill:#A19685;}
.st1133{fill:#A79B88;}
.st1134{fill:#AA9F89;}
.st1135{fill:#AA9D86;}
.st1136{fill:#AA9F85;}
.st1137{fill:#908781;}
.st1138{fill:#847B71;}
.st1139{fill:#918881;}
.st1140{fill:#948A84;}
.st1141{fill:#948B86;}
.st1142{fill:#938985;}
.st1143{fill:#908785;}
.st1144{fill:#8E8587;}
.st1145{fill:#847B79;}
.st1146{fill:#928A85;}
.st1147{fill:#8A8283;}
.st1148{fill:#948A81;}
.st1149{fill:#877D71;}
.st1150{fill:#BBAE95;}
.st1151{fill:#B6AD95;}
.st1152{fill:#B5A88E;}
.st1153{fill:#B2A690;}
.st1154{fill:#B7AA8A;}
.st1155{fill:#B5A88F;}
.st1156{fill:#ACA28C;}
.st1157{fill:#AA9E8A;}
.st1158{fill:#A59888;}
.st1159{fill:#9B908B;}
.st1160{fill:#A59789;}
.st1161{fill:#A49283;}
.st1162{fill:#B19D8E;}
.st1163{fill:#94857C;}
.st1164{fill:#792249;}
.st1165{fill:#620E26;}
.st1166{fill:#79173C;}
.st1167{fill:#610E35;}
.st1168{fill:#A2978C;}
.st1169{fill:#94887B;}
.st1170{fill:#9F938B;}
.st1171{fill:#90877D;}
.st1172{fill:#918675;}
.st1173{fill:#A8997C;}
.st1174{fill:#AEA28A;}
.st1175{fill:#A69986;}
.st1176{fill:#B1A484;}
.st1177{fill:#A69B8B;}
.st1178{fill:#A89B88;}
.st1179{fill:#ABA085;}
.st1180{fill:#998E7A;}
.st1181{fill:#9F927A;}
.st1182{fill:#B3A68B;}
.st1183{fill:#ADA089;}
.st1184{fill:#AB9E90;}
.st1185{fill:#AA9E8D;}
.st1186{fill:#AC9F8B;}
.st1187{fill:#A09278;}
.st1188{fill:#ADA086;}
.st1189{fill:#AA9F8D;}
.st1190{fill:#AA9F8A;}
.st1191{fill:#B1A48E;}
.st1192{fill:#B5AA8A;}
.st1193{fill:#B2A487;}
.st1194{fill:#AEA18C;}
.st1195{fill:#A09487;}
.st1196{fill:#94847A;}
.st1197{fill:#9B8D7E;}
.st1198{fill:#A19482;}
.st1199{fill:#7E1533;}
.st1200{fill:#7D2031;}
.st1201{fill:#98877E;}
.st1202{fill:#ADA293;}
.st1203{fill:#B1A48A;}
.st1204{fill:#97897E;}
.st1205{fill:#998E8D;}
.st1206{fill:#B3A791;}
.st1207{fill:#AEA393;}
.st1208{fill:#AAA090;}
.st1209{fill:#A39996;}
.st1210{fill:#A79E97;}
.st1211{fill:#948B8D;}
.st1212{fill:#8C785F;}
.st1213{fill:#826E53;}
.st1214{fill:#9B8B79;}
.st1215{fill:#9A9496;}
.st1216{fill:#AFA086;}
.st1217{fill:#AC9F82;}
.st1218{fill:#A3988B;}
.st1219{fill:#9A8E82;}
.st1220{fill:#A19794;}
.st1221{fill:#A19586;}
.st1222{fill:#AFA380;}
.st1223{fill:#9B8F82;}
.st1224{fill:#97908C;}
.st1225{fill:#A99F92;}
.st1226{fill:#A79D8D;}
.st1227{fill:#A89F94;}
.st1228{fill:#978B7D;}
.st1229{fill:#A2998D;}
.st1230{fill:#A9A192;}
.st1231{fill:#A79C8B;}
.st1232{fill:#968B7C;}
.st1233{fill:#AEA187;}
.st1234{fill:#AC9F88;}
.st1235{fill:#A99D88;}
.st1236{fill:#A59B87;}
.st1237{fill:#988C77;}
.st1238{fill:#978A7F;}
.st1239{fill:#99918D;}
.st1240{fill:#AA9D85;}
.st1241{fill:#9F9891;}
.st1242{fill:#918983;}
.st1243{fill:#978F85;}
.st1244{fill:#978C89;}
.st1245{fill:#8E8577;}
.st1246{fill:#958A7B;}
.st1247{fill:#908680;}
.st1248{fill:#938A7C;}
.st1249{fill:#958C83;}
.st1250{fill:#9E9489;}
.st1251{fill:#998D8A;}
.st1252{fill:#988E84;}
.st1253{fill:#9C9189;}
.st1254{fill:#9D9383;}
.st1255{fill:#A0978C;}
.st1256{fill:#91877E;}
.st1257{fill:#9E9383;}
.st1258{fill:#A3987F;}
.st1259{fill:#A1998B;}
.st1260{fill:#A49A84;}
.st1261{fill:#A1968B;}
.st1262{fill:#A89C8E;}
.st1263{fill:#AA997C;}
.st1264{fill:#978B7A;}
.st1265{fill:#8E817E;}
.st1266{fill:#928785;}
.st1267{fill:#8E7673;}
.st1268{fill:#8F7E75;}
.st1269{fill:#877571;}
.st1270{fill:#74223B;}
.st1271{fill:#854276;}
.st1272{fill:#6C122A;}
.st1273{fill:#A79A86;}
.st1274{fill:#A29587;}
.st1275{fill:#9E907A;}
.st1276{fill:#A6998E;}
.st1277{fill:#978A76;}
.st1278{fill:#B3A389;}
.st1279{fill:#AFA184;}
.st1280{fill:#A69A81;}
.st1281{fill:#A99C8A;}
.st1282{fill:#ADA085;}
.st1283{fill:#9B8D7C;}
.st1284{fill:#A89D91;}
.st1285{fill:#A09590;}
.st1286{fill:#948781;}
.st1287{fill:#A8988C;}
.st1288{fill:#A49489;}
.st1289{fill:#A39286;}
.st1290{fill:#97867E;}
.st1291{fill:#8D7C72;}
.st1292{fill:#A69789;}
.st1293{fill:#988B87;}
.st1294{fill:#A19282;}
.st1295{fill:#8B807E;}
.st1296{fill:#9B9498;}
.st1297{fill:#9D9697;}
.st1298{fill:#A59B97;}
.st1299{fill:#A89C95;}
.st1300{fill:#9E9184;}
.st1301{fill:#908789;}
.st1302{fill:#A79C91;}
.st1303{fill:#998D7E;}
.st1304{fill:#A6998A;}
.st1305{fill:#A3988D;}
.st1306{fill:#A69B90;}
.st1307{fill:#A89B90;}
.st1308{fill:#AB9F90;}
.st1309{fill:#A89D94;}
.st1310{fill:#A79E96;}
.st1311{fill:#A39989;}
.st1312{fill:#A49A90;}
.st1313{fill:#A39994;}
.st1314{fill:#9D9385;}
.st1315{fill:#AB9D8C;}
.st1316{fill:#AFA590;}
.st1317{fill:#948785;}
.st1318{fill:#988E8B;}
.st1319{fill:#998E82;}
.st1320{fill:#978D8B;}
.st1321{fill:#918686;}
.st1322{fill:#8A7B71;}
.st1323{fill:#7D6C64;}
.st1324{fill:#9C948F;}
.st1325{fill:#9F9590;}
.st1326{fill:#A89B8B;}
.st1327{fill:#938883;}
.st1328{fill:#A1968D;}
.st1329{fill:#A89A8A;}
.st1330{fill:#A89A8F;}
.st1331{fill:#9A8A7B;}
.st1332{fill:#9C9082;}
.st1333{fill:#A59A8D;}
.st1334{fill:#AB9F93;}
.st1335{fill:#AA9E91;}
.st1336{fill:#9E9181;}
.st1337{fill:#9D9390;}
.st1338{fill:#A69994;}
.st1339{fill:#A89C91;}
.st1340{fill:#9F9181;}
.st1341{fill:#9D9083;}
.st1342{fill:#ADA08F;}
.st1343{fill:#AA9D90;}
.st1344{fill:#AB9D93;}
